# 20130307 krb5.conf configuration file for MIT Kerberos clients, other clients
# may not support all settings.


[libdefaults]
   default_realm = MSU.EDU


   clockskew = 300
   kdc_timesync = 1


   # DNS can be used instead of an explicitly defined '[realms]' section.
   dns_lookup_kdc = true
   dns_lookup_realm = true


   # Kerberos 1.7 and newer OR OpenAFS older than 1.4.12
   allow_weak_crypto = true


[realms]
   MSU.EDU = {
       # Kerberos 4 setting needed by some older versions of OpenAFS
       default_domain = msu.edu


       # MIT Kerberos supports the setting 'master_kdc', falling back to
       # it in cases of recent password changes. Some non-MIT Kerberos
       # clients do not, but instead rely on the order of KDC
       # definition. If your client does not support 'master_kdc', move
       # 'kdc=kerberos.msu.edu' to the top of the list.

<%- if @test_servers %>
       kdc = kdc-test1.idm.msu.edu
       kdc = kdc-test2.idm.msu.edu
       master_kdc = kdc-test1.idm.msu.edu
<%- else %>
       kdc = kdc1.kerberos.msu.edu
       kdc = kdc2.kerberos.msu.edu
       kdc = kerberos.msu.edu
       master_kdc = kerberos.msu.edu
<%- end %>
   }


[domain_realm]
   .msu.edu = MSU.EDU
   msu.edu = MSU.EDU
